/*
Template: 2047 Brown Field
Credit: http://www.tooplate.com/view/2047-brown-field
*/

@font-face {
  font-family: 'Noto Naskh Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/naskh/NotoNaskhArabic-Regular.eot);
  src: url(fonts/naskh/NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/naskh/NotoNaskhArabic-Regular.woff2) format('woff2'),
       url(fonts/naskh/NotoNaskhArabic-Regular.woff) format('woff'),
       url(fonts/naskh/NotoNaskhArabic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Naskh Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/naskh/NotoNaskhArabic-Bold.eot);
  src: url(fonts/naskh/NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/naskh/NotoNaskhArabic-Bold.woff2) format('woff2'),
       url(fonts/naskh/NotoNaskhArabic-Bold.woff) format('woff'),
       url(fonts/naskh/NotoNaskhArabic-Bold.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color: #554a46;
    font-family: 'Noto Naskh Arabic';
    font-size: 15px;
    line-height: 1.7em;
    background-color: #090100;
    background-image: url(../images/web/bg-image.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.orange {
    color: #C60;
}

.green {
    color: #399;
}

a,
a:link,
a:visited {
    color: #97313b;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 104px;
    height: 31px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/tooplate_more.png) no-repeat top center;
    color: #333;
}

a.more:hover {
    color: #e5425b;
}

p {
    margin: 0 0 10px 0;
    padding: 0;
}

img {
    border: none;
}

blockquote {
    font-style: italic;
    margin: 0 0 0 10px;
}

cite {
    font-weight: bold;
    color: #000;
}

cite a,
a:link,
a:visited {
    font-weight: bold;
    color: #97313b;
}

cite span {
    font-weight: 400;
    color: #000;
}

em {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
    font-weight: normal;
}

h1 {
    font-size: 34px;
    margin: 0 0 20px;
    padding: 5px 0
}

h2 {
    font-size: 28px;
    margin: 0 0 15px;
    padding: 5px 0;
}

h3 {
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0;
}

h4 {
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}

h6 {
    font-size: 14px;
    margin: 0 0 5px;
    padding: 0;
}

.cleaner {
    clear: both
}

.h10 {
    height: 10px
}

.h20 {
    height: 20px
}

.h30 {
    height: 30px
}

.h40 {
    height: 40px
}

.h50 {
    height: 50px
}

.h60 {
    height: 60px
}

.float_l {
    float: left
}

.float_r {
    float: right
}

.image_wrapper {
    display: inline-block;
    border: 1px solid #666;
    padding: 4px;
    background: #ccc;
    margin-bottom: 5px;
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0;
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px;
}

.tooplate_list {
    margin: 20px 0 20px 15px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color: #97313b;
    margin: 0;
    padding: 0 0 5px 15px;
    background: url(../images/tooplate_list.png) no-repeat scroll 0 7px;
}

.tooplate_list li a {
    color: #97313b;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    background: url(../images/AlAzhar12.jpg) top center no-repeat;
}

.main-wrapper {
    background: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding-right: 0px !important;
    padding-left: 0px !important;
    border: 4px solid #4b392a;
}

#tooplate_header {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
    background: white;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
}

#site_title {
    float: right;
}

#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 190px;
    height: 177px;
    color: #fff;
    text-indent: -10000px;
    background: url(../images/logo.png) no-repeat top left;
}

#logo {
    float: right;
    display: block;
    max-height: 150px;
    margin-bottom: -22px;
    max-width: 51px;
}


/* menu */

#tooplate_menu {
    float: left;
    margin: 0 auto;
    padding: inherit;
    margin-top: 10px;
}

#tooplate_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 104px;
    height: 37px;
    margin-left: 5px;
    padding-top: 6px;
    font-size: 14px;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
    background: url(../images/tooplate_menu.png);
}

#tooplate_menu ul li a:hover,
#tooplate_menu ul .current {
    color: #333;
    background: url(../images/tooplate_menu_hover.png) no-repeat;
}


/* end of menu */

#tooplate_middle {
    clear: both;
    width: 880px;
    height: 240px;
    padding: 50px;
    overflow: hidden;
    background: url(../images/tooplate_middle.png);
}

#mid_title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

#mid_left {
    float: left;
    width: 400px;
}

#mid_slider {
    position: relative;
    float: right;
    width: 440px;
    height: 220px;
}

#tooplate_middle img {
    float: right;
    margin-left: 60px;
}

#mid_left p {
    margin-bottom: 30px;
    color: #fff;
}

#learn_more a {
    display: block;
    width: 104px;
    height: 33px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    background: url(../images/tooplate_menu_hover.png);
}

#learn_more a:hover {
    color: #000;
}


/* main */

#tooplate_main_top {
    width: 980px;
    height: 10px;
    background: url(../images/content_top.png) no-repeat;
}

#tooplate_main_bottom {
    width: 980px;
    height: 10px;
    background: url(../images/content_bottom.png) no-repeat;
}

#tooplate_main {
    clear: both;
    width: 900px;
    padding: 20px 40px;
    background: url(../images/tooplate_content.png) repeat-y center;
}

#tooplate_main p {
    margin-bottom: 10px;
}

.con_tit_01 {
    font-size: 30px;
    color: #666;
    margin-bottom: 25px;
}

.con_tit_02 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.col_w900 {
    width: 900px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #ccc;
}

.col_w580 {
    width: 580px
}

.col_w420 {
    width: 420px
}

.col_w280 {
    width: 280px
}

.col_allw280 {
    float: left;
    width: 280px;
    margin-right: 30px;
}

.col_w900_last {
    padding: 0;
    margin: 0;
    background: none;
}

.col_last {
    margin: 0;
}

.fp_service_box img {
    float: left;
    margin-right: 15px;
}

.post_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.post_header {
    border-top: 3px solid #999;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
}

.post_box h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

.post_box p.post_meta {
    margin-bottom: 0;
}

.post_box img {
    float: left;
    margin-right: 20px;
}

.fp_lw_box {
    clear: both;
    margin-bottom: 30px;
}

.fp_lw_box img {
    margin-right: 15px;
    padding-top: 3px;
}

.fp_lw_box h6 {
    margin-bottom: 0;
}

.fp_lw_box h6 a {
    font-weight: bold;
    text-decoration: none;
}

.sidebar_title {
    display: block;
    width: 260px;
    height: 30px;
    padding: 0 0 5px 20px;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background: url(../images/tooplate_sidebar_bg.png) center bottom no-repeat;
}

.sidebar_box {
    padding-left: 15px;
    margin-bottom: 40px;
}

#gallery {
    margin: 0;
    padding: 0;
}

.gallery_box {
    display: block;
    position: relative;
    float: left;
    width: 280px;
    margin: 0 30px 50px 0;
}

.gb_lmb {
    margin: 0 0 20px 0;
}

.gallery_box a img {
    width: 270px;
    height: 120px;
}

#contact_form {
    padding: 0;
    width: 400px;
}

#contact_form form {
    margin: 0px;
    padding: 0px;
}

#contact_form form .input_field {
    width: 270px;
    padding: 10px;
    color: #111;
    border: 1px solid #a7a7a7;
    background: #e8e8e8;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    margin-top: 5px;
}

#contact_form form label {
    display: block;
    width: 100px;
    margin-right: 10px;
    font-size: 14px
}

#contact_form form textarea {
    width: 388px;
    height: 200px;
    padding: 10px;
    color: #111;
    border: 1px solid #a7a7a7;
    background: #e8e8e8;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    margin: 10px 0px;
}

#contact_form form .submit_btn {
    display: block;
    width: 104px;
    height: 39px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: url(../images/tooplate_more.png) no-repeat top center;
    color: #333;
    border: none;
    cursor: pointer;
}

#tooplate_footer_wrapper {
    clear: both;
    width: 100%;
    background: #000;
}

#tooplate_footer {
    clear: both;
    width: 940px;
    padding: 10px 0;
    color: #786a78;
    text-align: center;
    margin: 0 auto;
}

#tooplate_footer a {
    color: #786a78;
    text-decoration: none;
}

.title {
    background-color: #4b392a;
    color: white;
    font-size: 24px;
    display: block;
    line-height: 2;
    margin-bottom: 10px;
    text-align: Center;
}


.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    padding: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    min-height: 50px;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
*/
    z-index: 99;
    left: 1%;
}
/*
.desc {
    padding: 15px;
    text-align: center;
}
*/


.search{
    float: left;
    padding: 3px 3px 3px 7px;
    border: 1px solid;
    margin-top: 13px;
    border-radius: 11px;
    color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}
/* */

.show>.dropdown-menu {
    width: 250px;
    padding: 5px;
}

.form-control {
    padding: 0px;
}
/* */


/*calendar modification*/

mwl-calendar .cal-month-day {
    height: 100px !important;
}

@media (max-width:768px){

.topbar{    position: fixed;
    right:0;
    bottom:100%;
    top:auto;
    background: white;
    width: 100%;
    border-bottom: 4px solid;
   
    z-index: 99;
transition:all 0.5s;
-moz-transition:all 0.5s;
-webkit-transition:all 0.5s;

}

.topbar-btn{
    position: absolute;
    bottom: -34px;
    z-index: 3;
    background: #4b392a;
    color: white;
    padding: 3px 12px;
    font-weight: bold;
    left: 12px;
    box-shadow: 0px 3px 4px white;
}

    .topbar.visible{
        top:0;
        bottom:auto;
    }


    .formobile{
        border-bottom:1px solid #e3e3e3;
        padding: 10px 0px;
    }

    .cal-cell{
        min-height: 75px !important;
    }

    mwl-calendar .cal-month-box .cal-row-head [class*=cal-cell]{
        text-align: left;
        direction: ltr;
        -moz-transform: rotateZ(53deg);
        -webkit-transform: rotateZ(53deg);
        -o-transform: rotateZ(53deg);
        transform: rotateZ(53deg);
    }

}

.cal-cell {
    min-height: 100px !important;
    border: 1px solid #d4d4d4;
    background: #e3e3e3;
}

mwl-calendar span[data-cal-date] {
    margin-top: 2px !important;
    margin-right: 5px !important;
    font-size: 1.6em !important;
    font-weight: bold !important;
}

mwl-calendar .cal-month-box .cal-month-day .cal-events-num {
    margin-left: 6px !important;
    margin-top: 8px !important;
}

mwl-calendar .cal-day-today {
    background-color: #654d3a !important;
}

mwl-calendar .cal-day-future {
    background-color: #c39670 !important;
}

mwl-calendar .cal-month-box .cal-month-day {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

mwl-calendar .cal-day-tick {
/*    display: none !important;*/
/*        top: 0 !important;*/
        bottom: 0 !important;
}

/*

.main-wrapper.login {
}*/


/*issues listing*/

.closebtn{
RIGHT: 8px;
    position: absolute;
    color: white;
    font-size: 19px;
    cursor: pointer;
    padding: 0px 9px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    transition:all 0.5s;
    
}

.closebtn:hover{
    background:rgba(255,255,255,0.4);
}

.issues_listing_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    padding: 10px;
    left: 0;
    background: rgba(0,0,0,0.7);
    direction: ltr;
    overflow-y: scroll;
}

.loaderbg{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    left: 0px;
    top: 0px;
}

.issues_listing{
    margin-top: 45px;
    
}

    .issue_item {
    float: right;
    width: 18%;
    padding: 0.5%;
    margin: 1%;
        margin-bottom: 2rem;
        cursor: pointer;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        border: 2px solid rgba(0, 0, 0, .4);
        font-weight: bold;
overflow: hidden;
        
            -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
transition:all 0.5s;
       
    }

.issue_item:hover{
    transform: scaleZ(1.05);
        transform: scale(1.08);
    box-shadow: 2px 3px 7px rgba(0,0,0,0.4);
}

.issue_item:nth-child(5n+1) {
clear: right;
}




.issue_item .caseno{
    font-size: 140%;
    
}

.issue_item .casetitle{
    background:rgba(0,0,0,0.6);
    color: white;
    border-bottom: 1px solid white;
}

.issue_item table{
    width:100%;
    
}

.issue_item table td{
    
        font-weight: normal;
    text-align: right;
    border: 1px solid #cacaca;
    padding: 0px 4px;
}

.issue_item table td.issue_data{
   font-weight: bold;
    width: 60%;
}

.issue_item .note{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    background: red;
    color: white;
    width: 100%;
    right: -37%;
}

mwl-calendar .cal-day-today span[data-cal-date]{
    color:white !important;
    opacity: 1 !important;
}


mwl-calendar .cal-slide-content{
    display: none !important;
}