<style>
    div {
        direction: rtl;
    }
    
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #ff9900;
        border-bottom: 16px solid #ff9900;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .card {
        float: right;
        width: 14.2%;
        padding: 1%;
        margin-bottom: 2rem;
        border: 0;
        opacity: 0.85;
        cursor: pointer;
    }
    
    .card {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        border: 2px solid rgba(0, 0, 0, .4);
        border-radius: 2.25rem;
    }
    
    .album {
        min-height: 50rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: #f7f7f7;
    }
</style>
<div ng-controller="home">

    <div class="loaderbg" id="loading" style="display:none;">
        <div class="loader" style="position:fixed;left:45%;top:45%;" ></div>
    </div>

        <div class="title"> لوحة التحكم </div>

        <br>
        <input type="submit" ng-click="addmohamy()" class="btn btn-primary" value="اضافة محامي" style="font-size: x-large;"> </form>

        <br>

        <div id="popadd" style="display: none;
    position: fixed;
    background-color: #9e9e9e;
    z-index: 99;
    height: 250px;
    width: 40%;
    top: 30%;
    right: 35%;">
            <center>
                <table class="table">
                    <p class="closebtn" style="margin: 5px;" ng-click="closeit1()"> X </p>
                    <p class="title"> اضافة محامي </p>
                    <br> 
                   <form method="post" ng-submit="add(user,pass,areainsert,fn,ln,phone)">
                        <!-- -->
                        <div class="form-group">
                            <label>  اسم المستخدم</label>
                        <input id="1" type="text" class="form-control" name="issue_Notes" value="" placeholder="اسم المستخدم " ng-model="user">
                        <div class="clear"></div>
                        </div>
                        <!-- -->
                        <br>
                        <!-- -->
                        <div class="form-group">
                            <label> كلمة المرور</label>
                        <input id="2" type="text" class="form-control" name="issue_Notes" value="" placeholder=" كلمة المرور " ng-model="pass">
                        <div class="clear"></div>
                         </div>
                        <!-- -->
                        <br>
                        <!-- -->
                        <div class="form-group">
                            <label> المنطقة</label>
                            <br>
                        <select ng-model="areainsert" style="width: 200px;" >
                            <option value="2">مركزي</option>
                            <option value="1">الدقهلية</option>
                            <option value="3">الغربية</option>
                            <option value="4">دمياط</option>
                            <option value="5">بورسعيد</option>
                            <option value="6">الجيزة</option>
                            <option value="7">بني سويف</option>
                            <option value="8">السويس</option>
                            <option value="9">الاسكندرية</option>
                            <option value="10">سوهاج</option>
                            <option value="11">شمال سيناء"</option>
                            <option value="12">البحيرة</option>
                            <option value="13">جنوب سيناء</option>
                            <option value="14">الشرقية</option>
                            <option value="15">اسوان</option>
                            <option value="16">مرسى مطروح</option>
                            <option value="17">الوادي الجديد</option>
                            <option value="18">المنيا</option>
                            <option value="19">الاسماعيلية</option>
                            <option value="20">القليوبية</option>
                            <option value="21">قنا</option>
                            <option value="22">كفر الشيخ"</option>
                            <option value="23">البحر الاحمر</option>
                            <option value="24">الاقصر</option>
                            <option value="25">المنوفية</option>
                            <option value="26">الفيوم</option>
                        </select>
                        <div class="clear"></div>
                        </div>
                        <!-- -->
                        <br>
                        <!-- -->
                        <div class="form-group">
                            <label> اسم المحامي الاول</label>
                          <input id="4" type="text" class="form-control" name="issue_Notes" value="" placeholder=" الاسم الاول" ng-model="fn">
                         <div class="clear"></div>
                        </div>
                        <!-- -->
                        <br>
                        <!-- -->
                        <div class="form-group">
                            <label> اسم المحامي الاخير</label>
                         <input id="5" type="text" class="form-control" name="issue_Notes" value="" placeholder="الاسم الاخير" ng-model="ln">
                          <div class="clear"></div>
                            </div>
                        <!-- -->
                        <br>
                        <!-- -->
                        <div class="form-group">
                            <label> رقم الهاتف</label>
                        <input id="6" type="text" class="form-control" name="issue_Notes" value="" placeholder="رقم الهاتف" ng-model="phone">
                        <div class="clear"></div>
                        </div>
                        <!-- -->
                        <br>
                        <input type="submit" class="btn btn-primary" value="اضافة المحامي" style="font-size: x-large;"> </form>

                        <p id="uadded" style="display:none;">  تم اضافة المستخدم بنجاح </p>
                        <p id="loading-add" style="display:none;"><img src="./images/8d88ece3551fb441841221d48556b13c9f96d43c_hq.gif" /></p>
                </table>
            </center>
        </div>
</div>
    

