<style>
    div {
        direction: rtl;
    }
    
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #ff9900;
        border-bottom: 16px solid #ff9900;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div ng-controller="issue_edit">
    <!-- start work-page -->
    <!-- -->
    <center>
        <section style="">
            <div class="title"> تعديل القضية </div>
            <div class="loader" id="loading" style="display:none;"></div>
            <form method="post" ng-submit="doEdit(court,circle,claim_no,Discount_Name,Discount_Position,subject,lastdate,last_session_reason,nextdate,issue_decision_t,issue_Notes,ctype,mokem_el_issue)">
                <div class="col-sm-2 col-md-4 text-right"> <img src="images/testt.jpg" style="width:100%;height: 500px;" /> </div>
                <div class="col-sm-5 col-md-4  text-right">
                    <!-- -->
                    <div>
                        <label>الجلسه السابقه</label>
                        <datepicker date-format="yyyy-MM-dd">
                            <input ng-model="lastdate" type="text" placeholder=" ادخل تاريخ الجلسه السابقة" /> </datepicker>
                    </div>
                    <!-- -->
                    <div class="form-group">
                        <label> سبب التأجيل</label>
                        <input id="7" type="text" class="form-control" style="font-size: 16px;" name="last_session_reason" placeholder="ادخل سبب التأجيل" ng-model="last_session_reason"> </div>
                    <!-- -->
                    <div>
                        <label>القرار (الجلسة التالية)</label>
                        <datepicker date-format="yyyy-MM-dd">
                            <input ng-model="nextdate" type="text" placeholder=" ادخل تاريخ الجلسة التالية" /> </datepicker>
                    </div>
                    <!-- -->
                    <!-- <div class="form-group">
                        <label> القرار</label>
                        <input id="8" type="text" class="form-control" name="issue_decision_t" placeholder="القرار " ng-model="issue_decision_t"> </div>
                     -->
                    <div class="form-group">
                        <label> الملاحظات</label>
                        <input id="9" type="text" class="form-control" name="issue_Notes" style="font-size: 16px;" placeholder=" الملاحظات " ng-model="issue_Notes"> </div>
                    <!-- -->
                    <!-- -->
                    <div class="form-group">
                        <label> مقيم الدعوي</label>
                        <select ng-model="mokem_el_issue" style="width: 200px;">
                            <option value="الازهر">الازهر</option>
                            <option value="الخصم">الخصم</option>
                        </select>
                    </div>
                    <!-- -->
                    <!-- -->
                    <div class="form-group">
                        <label> موضوع الدعوى</label>
                        <select ng-model="subject" style="width: 200px;">
                            <option value="ضم مدة خدمة عسكرية">ضم مدة خدمة عسكرية</option>
                            <option value="ضم مدة خدمة عامة">ضم مدة خدمة عامة</option>
                            <option value="ضم مدة العمل التطوعي">ضم مدة العمل التطوعي</option>
                            <option value="ضم مدة خبره علميه">ضم مدة خبرة علميه</option>
                            <option value="ضم مدة خبرة عمليه">ضم مدة خبرة عمليه</option>
                            <option value="جهود غير عادية">جهود غير عادية</option>
                            <option value="حافز اثابة">حافز اثابة</option>
                            <option value="حافز انشطه تربوية">حافز انشطه تربوية</option>
                            <option value="حوفز">حوفز</option>
                            <option value="مستحقات مالية">مستحقات مالية</option>
                            <option value="بدل سفر">بدل سفر</option>
                            <option value="المعاملة المالية">المعاملة المالية</option>
                            <option value="العلاوات الخاصة للمبعوثين">العلاوات الخاصة للمبعوثين</option>
                            <option value="استبعاد العلاوات من الضرائب">استبعاد العلاوات من الضرائب</option>
                            <option value="قطع مفاجئ">قطع مفاجئ</option>
                            <option value="تعويض">تعويض</option>
                            <option value="استكمال بعثه">استكمال بعثه</option>
                            <option value="تخطي في الاعارة">تخطي في الاعارة</option>
                            <option value="تخطي في التعيين">تخطي في التعيين</option>
                            <option value="تخطي في الترقية">تخطي في الترقية</option>
                            <option value="رصيد اجازات">رصيد اجازات</option>
                            <option value="بدل سكن مبعوثين">بدل سكن مبعوثين</option>
                            <option value="عمالة منضمة">عمالة منضمة</option>
                            <option value="غسيل كلوي">غسيل كلوي</option>
                            <option value="فسخ تعاقد">فسخ تعاقد</option>
                            <option value="حقوق تأمينيه">حقوق تأمينيه</option>
                            <option value="سكن أداري">سكن أداري</option>
                            <option value="مقاولات">مقاولات</option>
                            <option value="امتناع عن تنفيذ حكم">امتناع عن تنفيذ حكم</option>
                            <option value="اعادة تعيين">اعادة تعيين</option>
                            <option value="تعديل مسمي وظيفي">تعديل مسمي وظيفي</option>
                            <option value="استبعاد من التدريس">استبعاد من التدريس</option>
                            <option value="ترقية">ترقية</option>
                            <option value="تسويات بالمؤهل الأعلي">تسويات بالمؤهل الأعلي</option>
                            <option value="اعادة تصحيح كراسات الاجابة">اعادة تصحيح كراسات الاجابة</option>
                            <option value="تأديبي">تأديبي</option>
                            <option value="نقل">نقل</option>
                            <option value="ندب">ندب</option>
                            <option value="تحويل طلبه">تحويل طلبه</option>
                            <option value="قيد طلبة">قيد طلبة</option>
                            <option value="طلبة">طلبة</option>
                            <option value="علاوات خاصة عادية">علاوات خاصة عادية</option>
                            <option value="مرتبات">مرتبات</option>
                            <option value="انهاء خدمة">انهاء خدمة</option>
                            <option value="بدل الاقامة">بدل الاقامة</option>
                            <option value="بدل معلم واعتماد">بدل معلم واعتماد</option>
                            <option value="تقارير الكفاية">تقارير الكفاية</option>
                            <option value="علاوة تشجيعية">علاوة تشجيعية</option>
                            <option value="حافز التميز">حافز التميز</option>
                            <option value="اصابة عمل">اصابة عمل</option>
                            <option value="تعديات">تعديات</option>
                            <option value="جامعة الأزهر">جامعة الأزهر</option>
                            <option value="مدني">مدني</option>
                            <option value="اشكالات">اشكالات</option>
                            <option value="بطلان">بطلان</option>
                            <option value="عدم اعتداد">عدم اعتداد</option>
                            <option value="التماس اعادة نظر">التماس اعادة نظر</option>
                        </select>
                    </div>
                    <!-- -->
                </div>
                <!-- -->
                <!-- -->
                <div class="col-sm-5 col-md-4  text-right">
                    <div class="form-group">
                        <label>اسم المحكمة</label>
                        <input id="1" type="text" class="form-control" name="court" value="a" style="font-size: 16px;" placeholder="ادخل اسم المحكمة" ng-model="court"> </div>
                    <!-- -->
                    <div class="form-group">
                        <label>اسم الدائرة</label>
                        <input id="2" type="text" class="form-control" name="circle" style="font-size: 16px;" placeholder="ادخل اسم الدائرة" ng-model="circle"> </div>
                    <!-- -->
                    <div class="form-group">
                        <label>رقم الدعوي </label>
                        <input id="3" type="text" class="form-control" name="claim_no" style="font-size: 16px;"placeholder="ادخل رقم الدعوي" ng-model="claim_no"> </div>
                    <!-- -->
                    <div class="form-group">
                        <label> أسم الخصم </label>
                        <input id="4" type="text" class="form-control" name="Discount_Name" style="font-size: 16px;" placeholder="ادخل اسم الخصم" ng-model="Discount_Name"> </div>
                    <!-- -->
                    <div class="form-group">
                        <label> صفة الخصم </label>
                        <input id="5" type="text" class="form-control" name="Discount_Position" style="font-size: 16px;" placeholder="ادخل صفه الخصم" ng-model="Discount_Position"> </div>
                    <!-- -->
                    <div class="form-group">
                        <label>نوع المحكمة</label>
                        <input type="text" class="form-control" name="ctype" style="font-size: 16px;" placeholder="ادخل نوع المحكمة" ng-model="ctype"> </div>
                    <!-- -->
                </div>
                <!-- -->
                <br>
                <input type="submit" class="btn btn-primary" value="تعديل" style="font-size: x-large;"> </form>
        
            <br>
            <br>
            <div id="added" class="btn-success" style="display:none;">
                <p> تم تعديل البيانات بنجاح !</p>
            </div>
            <div id="wrong" class="btn-danger" style="display:none;">
                <p> من فضلك تأكد من ادخال جميع البيانات</p>
            </div>
            
        </section>
    </center>
    <!---end-mfp -->
</div>